<div class="author-gradient-bg">
  <div class="author-content">
    <h1>Demeter Luka</h1>
    <p>II 58/2019</p>
    <h3>O meni</h3>
    <p>Ja sam Demeter Luka i trenutno sam apsolvent na Fakultetu Tehničkih Nauka u Novom Sadu, na smeru Industrijsko Inženjerstvo, i usmerenju Informacioni i komunikacioni sistemi.</p>
    <h3>Radno iskustvo</h3>
    <p>Trenutno radim u kompaniji Hisense kao Backoffice Administrator, gde se bavim upravljanjem internim sistemima i podrškom poslovnih procesa.</p>
  </div>
</div>
