.container {
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  font-size: 14px;
  flex-grow:  1;
  margin-top: 8px;
}

.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}

.mat-column-id {
  flex: 0 0 5%;
}

.mat-column-ime {
  flex: 0 0 15%;
}

.mat-column-prezime {
  flex: 0 0 15%;
}

.mat-column-zdr_osiguranje {
  flex: 0 0 10%;
}

.mat-column-datum_rodjenja {
  flex: 0 0 15%;
}

.mat-column-odeljenje {
  flex: 0 0 14%;
}

.mat-column-dijagnoza {
  flex: 0 0 14%;
}

.mat-column-actions {
  flex: 0 0 10%;
}

.title-center {
  margin: 0 auto;
}
